@import url(https://db.onlinewebfonts.com/c/540ea8ceb19b7b438598461f395f6ca1?family=Modern+Era+Bold);

$color-white: #FFFFFF;
$color-charcoal: #2F2D2E;
$color-dark-gray: #2E2E2E;
$color-teal: #7FC3BA;
$color-black: #000000;
$color-gray-text: #6F6D6E;

$font-family-main: "Modern Era Bold", sans-serif;

$breakpoint-mobile: 768px;
$breakpoint-desktop: 1440px;